<%-include("partials/header")-%>
<div>
  <h1><%=teamName%></h1>
</div>
<div class="row">
    <!-- Easy -->
    <div class="col-5 gen <%=className1%>" style="background-size: 100% 100%;" type="button" data-toggle="modal" data-target="#easy">
    </div>
    <!-- Medium -->
    <div class="col-7 gen <%=className2%>" style="border-left: solid 4px black; background-size: 100% 100%;" data-toggle="modal" data-target="#medium">
    </div>
    <!-- Hard -->
    <div class="col-12 gen <%=className3%>" style="border-top: solid 4px black; background-size: 100% 100%;" data-toggle="modal" data-target="#hard">
    </div>
</div>

<!-- Modals -->

<!-- <div class="modal fade" id="easy" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="easy">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="" method="post"></form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
</div> -->
<!---
<div class="modal fade" id="medium" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="" method="post"></form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
</div>
<div class="modal fade" id="hard" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="" method="post"></form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
</div> -->
<%-include("partials/footer")-%>