<!-- flip-card-container -->
<link rel="stylesheet" href="card.css">
<div class="flip-card-container " style="--hue: 350">
    <div class="flip-card <%=className1%>">

        <div class="card-front">
            <figure>
                <div class="img-bg"></div>
                <img src="easy.png"
                    alt="Brohm Lake">
                <figcaption>easy</figcaption>
            </figure>
            <form action="/checkAnswer1" method="post">
                <ul>
                    <li>input-> 03 01 22</li>
                    <li><label for="output">Your Output</label><input type="text" name="answer"></li>
                    <li><input type="hidden" value="<%=teamName%>" name="teamName"><button type="submit" class="btn btn-warning">check Answer</button></li>
                    <li style="color: red;"><%=wans1%> </li>
                    
                </ul>
            </form>
        </div>

        <div class="card-back">
            <figure>
                <div class="img-bg"></div>
                <img src="https://images.unsplash.com/photo-1486162928267-e6274cb3106f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
                    alt="Brohm Lake">
            </figure>

            <button>Done</button>

            <div class="design-container">
                <span class="design design--1"></span>
                <span class="design design--2"></span>
                <span class="design design--3"></span>
                <span class="design design--4"></span>
                <span class="design design--5"></span>
                <span class="design design--6"></span>
                <span class="design design--7"></span>
                <span class="design design--8"></span>
            </div>
        </div>

    </div>
</div>
<!-- /flip-card-container -->

<!-- flip-card-container -->
<div class="flip-card-container" style="--hue: 350">
    <div class="flip-card <%=className2%>">

        <div class="card-front">
            <figure>
                <div class="img-bg"></div>
                <img src="medium.png"
                    alt="Image 2">
                <figcaption>medium</figcaption>
            </figure>

            <form action="/checkAnswer2" method="post">
                <ul>
                    <li>input-> indiansocietyfortechnicaleducation</li>
                    <li><label for="output">First line of the Output</label><input type="text" name="answer"></li>
                    <li><input type="hidden" value="<%=teamName%>" name="teamName"><button type="submit"
                            class="btn btn-warning">check Answer</button></li>
                    <li style="color: red;"><%=wans2%></li>
            
                </ul>
            </form>
        </div>

        <div class="card-back">
            <figure>
                <div class="img-bg"></div>
                <img src="https://images.unsplash.com/photo-1545436864-cd9bdd1ddebc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
                    alt="image-2">
            </figure>

            <button>Done</button>

            <div class="design-container">
                <span class="design design--1"></span>
                <span class="design design--2"></span>
                <span class="design design--3"></span>
                <span class="design design--4"></span>
                <span class="design design--5"></span>
                <span class="design design--6"></span>
                <span class="design design--7"></span>
                <span class="design design--8"></span>
            </div>
        </div>

    </div>
</div>
<!-- /flip-card-container -->

<!-- flip-card-container -->
<div class="flip-card-container" style="--hue: 350">
    <div class="flip-card <%=className3%>">

        <div class="card-front">
            <figure>
                <div class="img-bg"></div>
                <img src="hard.png"
                    alt="Brohm Lake">
                <figcaption>hard</figcaption>
            </figure>

            <form action="/checkAnswer3" method="post">
                <ul>
                    <li>input-> 1 7 1 2 3 4 5 6 7 2</li>
                    <li><label for="output">Your Output</label><input type="text" name="answer"></li>
                    <li><input type="hidden" value="<%=teamName%>" name="teamName"><button type="submit"
                            class="btn btn-warning">check Answer</button></li>
                    <li style="color: red;">
                        <%=wans3%>
                    </li>
                    
                </ul>
            </form>
        </div>

        <div class="card-back">
            <!-- only if the image is necessary -->
            <figure>
                <div class="img-bg"></div>
                <img src="https://images.unsplash.com/photo-1525124783743-e6fa14aa83bb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"
                    alt="Brohm Lake">
            </figure>

            <button>Done</button>

            <!-- can add svg here and remove these eight spans -->
            <div class="design-container">
                <span class="design design--1"></span>
                <span class="design design--2"></span>
                <span class="design design--3"></span>
                <span class="design design--4"></span>
                <span class="design design--5"></span>
                <span class="design design--6"></span>
                <span class="design design--7"></span>
                <span class="design design--8"></span>
            </div>
        </div>

    </div>
</div>
<!-- /flip-card-container -->
